.mat-column-phone-extension {
  flex-grow: 0.5;
}

.age, .service-length {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .mat-button-toggle-group {
    margin: 0 8px;
  }
}
