<mat-progress-bar class="activity-indicator" color="accent" [hidden]="!(indicatorStatus | async)"
                  mode="query"></mat-progress-bar>
<div class="main">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>GIS <ng-container appRenderTemplate="title" (onHasView)="hasTitle = $event"></ng-container></span>
    <span class="spacer"></span>
    <ng-container appRenderTemplate></ng-container>
    <button *ngIf="hasAttachments | async" mat-button (click)="rightDrawer.toggle()">Attachments</button>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav position="start" #sidenav>
      <mat-nav-list>
        <div id="user" *ngIf="currentUser | async as user">
          <h2>
            <ng-container i18n="welcome user@@welcomeUser">Welcome {{user.userName}}</ng-container>
            <button mat-icon-button (click)="logout()"
                    matTooltip="Logout">
              <mat-icon>exit_to_app</mat-icon>
            </button>
          </h2>
          <a mat-button routerLink="/user/edit/self">
            <mat-icon mat-list-icon>edit</mat-icon>
            <ng-container i18n="let user change password and contact info@@editProfileLink">
              Edit profile
            </ng-container>
          </a>
        </div>

        <a mat-list-item routerLink="/home" routerLinkActive="active-link">
          <mat-icon mat-list-icon>home</mat-icon>
          <a mat-line i18n="take user to home page link@@homeLink">Home</a>
        </a>

        <mat-divider></mat-divider>

        <ng-container *requireRole="'admin'">
          <h3 mat-subheader>Admin</h3>
          <a mat-list-item routerLink="/user/admin" routerLinkActive="active-link">
            <mat-icon mat-list-icon>face</mat-icon>
            <a mat-line>User Managment</a>
          </a>
        </ng-container>

      </mat-nav-list>
      <span style="position: absolute; bottom: 0;">Version: {{version}}</span>
    </mat-sidenav>
    <mat-sidenav mode="side" position="end" #rightDrawer>
      <app-attachments></app-attachments>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>

</div>
