<mat-progress-bar class="activity-indicator" color="accent" [hidden]="!(indicatorStatus | async)"
                  mode="query"></mat-progress-bar>
<div class="main">
  <mat-toolbar color="primary">
    <button id="open-menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span #titleElement (cdkObserveContent)="updateTitle()">GIS
      <ng-container appRenderTemplate="title" (onHasView)="hasTitle = $event"></ng-container>
    </span>
    <span class="spacer"></span>
    <ng-container appRenderTemplate></ng-container>
    <button *ngIf="hasAttachments | async"
            mat-icon-button
            matTooltip="Attachments"
            matTooltipPosition="left"
            (click)="rightDrawer.toggle()">
      <mat-icon>attach_file</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav position="start" #sidenav>
      <mat-nav-list>
        <div id="user" *ngIf="currentUser | async as user">
          <h2>
            <ng-container i18n="welcome user@@welcomeUser">Welcome {{user.userName}}</ng-container>
            <button mat-icon-button (click)="logout()"
                    matTooltip="Logout">
              <mat-icon>exit_to_app</mat-icon>
            </button>
          </h2>
          <a mat-button routerLink="/user/edit/self">
            <mat-icon mat-list-icon>edit</mat-icon>
            <ng-container i18n="let user change password and contact info@@editProfileLink">
              Edit profile
            </ng-container>
          </a>
        </div>

        <a mat-list-item routerLink="/home" routerLinkActive="active-link">
          <mat-icon mat-list-icon>home</mat-icon>
          <a mat-line i18n="take user to home page link@@homeLink">Home</a>
        </a>
        <ng-container *ngIf="currentUser|async">

          <mat-divider></mat-divider>
          <h3 mat-subheader>Me!</h3>
          <ng-container appRenderTemplate="sidenav:me"></ng-container>
          <ng-container *appTemplateContent="'sidenav:me'">
            <a mat-list-item routerLink="/leave-request/edit/new" routerLinkActive="active-link">
              <mat-icon mat-list-icon>transfer_within_a_station</mat-icon>
              <p mat-line>Request Leave</p>
            </a>
            <a mat-list-item routerLink="/leave-request/list/mine" routerLinkActive="active-link">
              <mat-icon mat-list-icon>transfer_within_a_station</mat-icon>
              <span mat-line>My Leave</span>
            </a>
            <a mat-list-item routerLink="/self" routerLinkActive="active-link">
              <mat-icon mat-list-icon>face</mat-icon>
              <span mat-line>My Details</span>
            </a>
          </ng-container>

          <ng-container *requireRole="'admin,hr'">
            <mat-divider></mat-divider>
            <h3 mat-subheader>HR</h3>
            <ng-container appRenderTemplate="sidenav:hr"></ng-container>
            <ng-container *appTemplateContent="'sidenav:hr'">
              <a mat-list-item routerLink="/job/list" routerLinkActive="active-link">
                <mat-icon mat-list-icon>work</mat-icon>
                <span mat-line>Jobs</span>
              </a>
              <a mat-list-item routerLink="/job/report/roles" routerLinkActive="active-link">
                <mat-icon mat-list-icon>work</mat-icon>
                <span mat-line>Roles</span>
              </a>
              <a mat-list-item routerLink="/leave-request/report" routerLinkActive="active-link">
                <mat-icon mat-list-icon>transfer_within_a_station</mat-icon>
                <span mat-line>Leave</span>
              </a>
              <a mat-list-item routerLink="/mission-org/list" routerLinkActive="active-link">
                <mat-icon mat-list-icon>account_balance</mat-icon>
                <span mat-line>Mission Org</span>
              </a>
              <a mat-list-item *requireRole="'admin,hradmin'" routerLink="/groups/list" routerLinkActive="active-link">
                <mat-icon mat-list-icon>location_city</mat-icon>
                <span mat-line>Organization</span>
              </a>
              <a mat-list-item routerLink="/people/list" routerLinkActive="active-link">
                <mat-icon mat-list-icon>supervisor_account</mat-icon>
                <span mat-line>People</span>
              </a>
              <a mat-list-item routerLink="/staff/report" routerLinkActive="active-link">
                <mat-icon mat-list-icon>business</mat-icon>
                <span mat-line>Staff</span>
              </a>
              <a mat-list-item routerLink="/training/list" routerLinkActive="active-link">
                <mat-icon mat-list-icon>school</mat-icon>
                <span mat-line>Required Training</span>
              </a>
            </ng-container>
          </ng-container>

          <ng-container *requireRole="'admin'">
            <mat-divider></mat-divider>
            <h3 mat-subheader>Admin</h3>
            <a mat-list-item routerLink="/user/admin" routerLinkActive="active-link">
              <mat-icon mat-list-icon>face</mat-icon>
              <a mat-line>User Managment</a>
            </a>
            <a mat-list-item routerLink="/sandbox" routerLinkActive="active-link">Sandbox</a>
          </ng-container>
        </ng-container>
        <mat-divider></mat-divider>

      </mat-nav-list>
      <span mat-subheader>
        Version: {{version}}&nbsp;
        <a class="mat-link" href="https://github.com/hahn-kev/gis">About Application</a>
      </span>
    </mat-sidenav>
    <mat-sidenav class="mat-elevation-z2" mode="side" position="end" #rightDrawer>
      <app-attachments *ngIf="rightDrawer.opened"></app-attachments>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>

</div>
