<div class="home">
  <mat-card class="mat-elevation-z6 believe">
    <!--<img mat-card-image src="assets/img/believe-home.jpg" alt="Believe">-->
    <mat-card-title>HR</mat-card-title>
    <mat-card-content>
      <mat-nav-list>
        <a mat-list-item routerLink="/people">
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <span mat-line>People</span>
        </a>
        <a mat-list-item routerLink="/groups">
          <mat-icon mat-list-icon>location_city</mat-icon>
          <span mat-line>Organization</span>
        </a>
        <a mat-list-item routerLink="/leave-request/list">
          <mat-icon mat-list-icon>transfer_within_a_station</mat-icon>
          <span mat-line>Leave</span>
        </a>
        <a mat-list-item routerLink="/training/list">
          <mat-icon mat-list-icon>school</mat-icon>
          <span mat-line>Training Requirements</span>
        </a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-elevation-z6 live">

    <!--<img mat-card-image src="assets/img/pexels-photo-592940.jpeg" alt="Live">-->
    <mat-card-title>Self</mat-card-title>
    <mat-card-content>
      <mat-nav-list>
        <a mat-list-item routerLink="/leave-request/new">
          <mat-icon mat-list-icon>transfer_within_a_station</mat-icon>
          <p mat-line>Request Leave</p>
        </a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-elevation-z6 speak">
    <!--<img mat-card-image src="assets/img/pexels-photo-323503.jpeg" alt="Speak">-->
    <mat-card-title>Speak<p>With Confidence</p></mat-card-title>
    <mat-card-content>
      <mat-nav-list>
        <a mat-list-item routerLink="/class-request">
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <span mat-line>Request a tutor</span>
        </a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</div>
