.home {
  display: grid;

  @media (max-width: 1000px) {
    grid-template-columns: 14px minmax(250px, 1fr) 14px;
    grid-template-rows: 0 auto auto auto 0;
    grid-row-gap: 14px;
    grid-template-areas: ". . ." ". believe ." ". live ." ". speak ." ". . .";

    .believe {
      grid-area: believe;
    }

    .live {
      grid-area: live;
    }

    .speak {
      grid-area: speak;
    }
  }

  @media (min-width: 1000px) {
    height: 100%;
    grid-template-columns: 1fr 320px 1fr 320px 1fr 320px 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-row-gap: 70px;
    grid-template-areas: ". . . . . . ." ". believe . live . speak ." ". . . . . . .";

    .believe {
      grid-area: believe;
    }

    .live {
      grid-area: live;
    }

    .speak {
      grid-area: speak;
    }
  }
}
