.home {
  //list mode
  display: grid;
  $spacing: 12px;
  $number-of-cards: 3;
  grid-template-columns: minmax(250px, 1fr);
  grid-template-rows: auto;
  padding: $spacing;
  grid-row-gap: $spacing;
  justify-content: center;

  @media (min-width: 320px * $number-of-cards + $spacing * 3) {
    //grid mode
    min-height: 100%;
    align-content: center;
    justify-content: space-evenly;
    grid-template-columns: auto;
    grid-auto-flow: column;
    padding: 28px 0;

    mat-card {
      width: 320px;
    }
  }
}
