<div class="home">
  <mat-card class="mat-elevation-z6 believe">
    <!--<img mat-card-image src="assets/img/believe-home.jpg" alt="Believe">-->
    <mat-card-title>HR</mat-card-title>
    <mat-card-content>
      <mat-nav-list>
        <a mat-list-item routerLink="/people">
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <span mat-line>People</span>
        </a>
        <a mat-list-item routerLink="/groups">
          <mat-icon mat-list-icon>location_city</mat-icon>
          <span mat-line>Organization</span>
        </a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-elevation-z6 live">

    <!--<img mat-card-image src="assets/img/pexels-photo-592940.jpeg" alt="Live">-->
    <mat-card-title>Live<p>With Confidence</p></mat-card-title>
    <mat-card-content>
      <mat-nav-list>
        <a mat-list-item routerLink="/ride-share">
          <mat-icon mat-list-icon>directions_car</mat-icon>
          <p mat-line>Get a Ride</p>
        </a>
        <a mat-list-item routerLink="/your-rights">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <p mat-line>Your Rights</p>
        </a>
        <a mat-list-item routerLink="/help" routerLinkActive="active-link">
          <mat-icon mat-list-icon>live_help</mat-icon>
          <a mat-line>Ask for Help</a>
        </a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-elevation-z6 speak">
    <!--<img mat-card-image src="assets/img/pexels-photo-323503.jpeg" alt="Speak">-->
    <mat-card-title>Speak<p>With Confidence</p></mat-card-title>
    <mat-card-content>
      <mat-nav-list>
        <a mat-list-item routerLink="/class-request">
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <span mat-line>Request a tutor</span>
        </a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</div>
