<div class="main-card">
  <mat-card>
    <form #userForm="ngForm" id="userForm" (ngSubmit)="saveUser()">
      <div>
        <mat-form-field>
          <input matInput required [disabled]="isSelf" name="name" [(ngModel)]="user.userName" placeholder="Username"
                 i18n-placeholder="username input field@@username">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput required name="email" [(ngModel)]="user.email" type="email" email #emailElement="ngModel"
                 placeholder="Email" i18n-placeholder="user email address@@email">
          <mat-error *ngIf="emailElement.invalid && (emailElement.dirty || emailElement.touched)"
                     i18n="email validation error@@emailValidation">
            Email invalid
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput name="phoneNumber" [(ngModel)]="user.phoneNumber" type="tel"
                 placeholder="Phone Number" i18n-placeholder="user phone number@@phoneNumber">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput [required]="isNew" #passwordElement="ngModel" name="password" minlength="8" autocomplete="off"
                 [(ngModel)]="password" type="password"
                 placeholder="Password"
                 i18n-placeholder="user password@@password">
          <mat-error *ngIf="passwordElement.invalid && (passwordElement.dirty || passwordElement.touched)"
                     i18n="password error@@passwordLengthWrong">
            Password must be at least 8 characters long
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput [required]="isNew || (passwordElement.value != '' && passwordElement.value)"
                 #passwordElement2="ngModel" name="password2" minlength="8" autocomplete="off"
                 ngModel
                 [pattern]="passwordElement.value"
                 type="password"
                 placeholder="Confirm Password"
                 i18n-placeholder="user password confirm@@passwordConfirm">
          <mat-error
            *ngIf="passwordElement2.invalid && (passwordElement2.dirty || passwordElement2.touched || passwordElement.touched)"
            i18n="password matching error@@passwordsMustMatch">
            Passwords must match
          </mat-error>
        </mat-form-field>
      </div>
      <ng-container *requireRole="'admin,hr'">
        <mat-form-field>
          <mat-select name="person"
                      [(ngModel)]="user.personId"
                      placeholder="Person">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let eachPerson of people | async" [value]="eachPerson.id">{{eachPerson.preferredName}}
              {{eachPerson.lastName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="!isNew">
          <ng-container *ngFor="let role of roles">
            <ng-container *ngIf="role.show(user)">
              <button type="button"
                      *ngIf="!role.value(user)"
                      (click)="grantRole(role)"
                      mat-raised-button
                      color="accent">
                Grant {{role.title}} rights
              </button>
              <button type="button"
                      *ngIf="role.value(user)"
                      (click)="revokeRole(role)"
                      mat-raised-button
                      color="accent">
                Revoke {{role.title}} rights
              </button>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>


      <mat-error *ngIf="errorMessage">
        {{errorMessage}}
      </mat-error>
    </form>
    <mat-card-actions>
      <button type="submit" form="userForm" [disabled]="!userForm.form.valid" mat-button>
        <ng-container *ngIf="isNew; then register else save">
        </ng-container>
        <ng-template #save i18n="save@@save">Save</ng-template>
        <ng-template #register i18n="register@@register">Register</ng-template>
      </button>
      <button mat-button *ngIf="!isNew" type="button" (click)="deleteUser()" color="warn">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>



