<ng-container *appTemplateContent="'title'">Jobs ({{dataSource.filteredData.length}})</ng-container>
<ng-container *appToolbarContent>
  <mat-slide-toggle [ngModel]="showOnlyOpen" (ngModelChange)="applyShowOnlyOpen($event)">
    Only Open Jobs
  </mat-slide-toggle>
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <mat-form-field floatLabel="never">
    <input autofocus matInput [ngModel]="filter" (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <mat-form-field style="padding-left: 8px">
    <mat-select [ngModel]="shownStatus"
                (ngModelChange)="applyShownTypes($event)"
                name="type"
                multiple
                placeholder="Show Job Status">
      <mat-select-trigger>{{jobSelectLabel(shownStatus)}}</mat-select-trigger>
      <mat-option *ngFor="let status of jobStatus" [value]="status">{{statusName(status)}}</mat-option>
    </mat-select>
  </mat-form-field>
  <a mat-icon-button class="print-hide" matTooltip="Role Report" matTooltipPosition="before" routerLink="../report/roles">
    <mat-icon>insert_chart</mat-icon>
  </a>
  <a mat-icon-button class="print-hide" matTooltip="Job Grades" matTooltipPosition="before" routerLink="../grade/list">
    <mat-icon>attach_money</mat-icon>
  </a>
</ng-container>
<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.title}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{statusName(row.status)}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{typeName(row.type)}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="gradeNo">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Grade #</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.gradeNo}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="orgGroupName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Department/Division</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.orgGroupName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="current">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Current Job</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox disabled [checked]="row.current"></mat-checkbox>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="positions">
    <mat-header-cell *matHeaderCellDef mat-sort-header># of Positions</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.positions}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="filled">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Filled Positions</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.filled}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="open">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Open Positions</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.open}}</mat-cell>
  </ng-container>
  <!-- Header and Row Declarations -->
  <mat-header-row
    *matHeaderRowDef="['title','status', 'type', 'gradeNo', 'orgGroupName', 'current', 'positions', 'filled', 'open']"></mat-header-row>
  <mat-row class="hover-overlay"
           *matRowDef="let row; columns: ['title', 'status', 'type', 'gradeNo', 'orgGroupName', 'current', 'positions', 'filled', 'open']"
           [routerLink]="'../edit/' + row.id"></mat-row>
</mat-table>

<a routerLink="../edit/new" class="add-button" mat-fab matTooltip="Add new Job" matTooltipPosition="left">
  <mat-icon>add</mat-icon>
</a>
