<ng-container *appTemplateContent="'title'">Jobs</ng-container>
<ng-container *appToolbarContent>
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <mat-form-field floatLabel="never">
    <input autofocus matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <a mat-icon-button matTooltip="Role Report" matTooltipPosition="before" routerLink="../report/roles">
    <mat-icon>insert_chart</mat-icon>
  </a>
  <a mat-icon-button matTooltip="Job Grades" matTooltipPosition="before" routerLink="../grade/list">
    <mat-icon>attach_money</mat-icon>
  </a>
</ng-container>
<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.title}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.type}}</mat-cell>
  </ng-container>
  <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef="['title', 'type']"></mat-header-row>
  <mat-row class="hover-overlay" *matRowDef="let row; columns: ['title', 'type']"
           [routerLink]="'../edit/' + row.id"></mat-row>
</mat-table>


<a routerLink="../edit/new" class="add-button" mat-fab matTooltip="Add new Job" matTooltipPosition="left">
  <mat-icon>add</mat-icon>
</a>
