.person {
  $column-width: 458px;
  $spacing: 12px;
  $pic-column-width: 200px;
  display: grid;
  justify-content: center;
  grid-template-rows: auto;
  grid-template-columns: $pic-column-width repeat(2, $column-width);
  grid-template-areas: "pic c1 c2 ";
  grid-gap: $spacing;
  padding: $spacing;
  @media (max-width: $column-width * 2 + ($spacing * 3) + $pic-column-width) {
    grid-template-columns: 1fr;
    grid-template-areas: "pic" "c1" "c2";
  }
  & > * {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    & > *:not(span) {
      margin-bottom: $spacing;
    }
  }
  .column-1 {
    grid-area: c1;
  }
  .column-2 {
    grid-area: c2;
  }
  .picture-column {
    grid-area: pic;
  }
}

.mat-expansion-panel-header-description {
  flex-grow: 1;
}
