<ng-container *appTemplateContent="'title'">Edit {{job?.title}}</ng-container>
<form (submit)="save()" #form="ngForm" id="form" class="main-card">
  <mat-card>
    <mat-card-content class="two-colum-grid">
      <mat-form-field>
        <input matInput [(ngModel)]="job.title"
               type="text"
               name="title"
               required
               placeholder="Title">
      </mat-form-field>
      <mat-form-field>
        <mat-select [(ngModel)]="job.type" name="type"
                    placeholder="Type">
          <mat-option [value]="null">None</mat-option>
          <mat-option *ngFor="let type of jobTypes" [value]="type">{{type | jobTypeName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>

        <mat-select [(ngModel)]="job.status" name="status"
                    [required]="true"
                    placeholder="Status">
          <mat-option [value]="null">None</mat-option>
          <mat-option *ngFor="let status of jobStatus" [value]="status">{{status | jobStatusName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle name="current" [(ngModel)]="job.current">Current</mat-slide-toggle>
      <mat-form-field>
        <mat-select [(ngModel)]="job.gradeId" name="grade"
                    placeholder="Grade">
          <mat-option [value]="null">None</mat-option>
          <mat-option *ngFor="let grade of grades" [value]="grade.id">Grade # {{grade.gradeNo}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="span-2-columns">
      <textarea matInput [(ngModel)]="job.jobDescription"
                type="text"
                name="jobDescription"
                placeholder="Job Description Summary"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-select name="orgGroup"
                    [(ngModel)]="job.orgGroupId"
                    required
                    placeholder="Department/Division">
          <mat-option [value]="null">None</mat-option>
          <mat-option *ngFor="let eachGroup of groups" [value]="eachGroup.id">{{eachGroup.groupName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="job.positions"
               type="number"
               name="positions"
               placeholder="# of Positions">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" form="form" [disabled]="form.invalid" mat-button>Save</button>
      <button type="button" *ngIf="!isNew" color="warn" (click)="deleteJob()" mat-button>Delete</button>
    </mat-card-actions>
  </mat-card>

  <div *ngIf="job.roles.length > 0">
    <span class="mat-caption">Roles</span>
    <mat-accordion class="roles">
      <!--roles list-->
      <mat-expansion-panel #rolePanel *ngFor="let role of job.roles">
        <mat-expansion-panel-header>
          <mat-panel-title>{{role.preferredName}} {{role.lastName}}</mat-panel-title>
          <mat-panel-description>
            {{role.startDate | date}} till {{role.active ? 'now' : (role.endDate | date)}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-role [role]="role"
                  [hideJob]="true"
                  #roleEl="appRole"
                  [formId]="'form_' + role.id"
                  (submit)="saveRole(role); rolePanel.close();">
        </app-role>
        <mat-action-row>
          <a [routerLink]="'/people/edit/' + role.personId"
             [matTooltip]="'View ' + role.preferredName + ' ' + role.lastName"
             matTooltipPosition="after"
             mat-icon-button>
            <mat-icon>person</mat-icon>
          </a>
          <span class="spacer"></span>
          <button type="button" mat-button (click)="deleteRole(role)" color="warn">Delete</button>
          <button type="submit" [attr.form]="'form_' + role.id" [disabled]="roleEl.form.invalid" mat-button>Save
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <app-accordion-list [(items)]="job.requiredEndorsements"
                      caption="Required Certifications"
                      itemTitle="Required Certification"
                      [createNewItem]="createNewRequiredEndorsement"
                      [save]="saveRequiredEndorsement"
                      [delete]="deleteRequiredEndorsement">
    <ng-container *appAccordionListHeader="let item;">
      <mat-panel-title>{{item.endorsementName}}</mat-panel-title>
    </ng-container>

    <ng-container *appAccordionListContent="let item;">
      <form appAccordionListForm>
        <mat-form-field>
          <mat-select [(ngModel)]="item.endorsementId" [required]="true" placeholder="Certification"
                      name="endorsementId">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let endorsement of (endorsements | async)"
                        [value]="endorsement.id"
                        (onSelectionChange)="$event.source.selected ? (item.endorsementName = endorsement.name) : void">
              {{endorsement.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </ng-container>
  </app-accordion-list>
</form>
