<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="userName">
    <mat-header-cell *matHeaderCellDef>User Name</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.userName }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="personName">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.personName}}</mat-cell>
  </ng-container>
  <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef="['userName', 'personName']"></mat-header-row>
  <mat-row class="hover-overlay" *matRowDef="let row; columns: ['userName', 'personName']"
           [routerLink]="'/user/edit/' + row.userName"></mat-row>
</mat-table>

<a routerLink="/user/edit/new" class="user-add" mat-fab matTooltip="Add new User" matTooltipPosition="left">
  <mat-icon>add</mat-icon>
</a>
