<ng-container *appTemplateContent="'title'">Edit {{person.preferredName}}</ng-container>
<ng-container *appToolbarContent>
  <button *ngIf="!isNew && !isSelf" (click)="deletePerson()" mat-button color="warn">
    <mat-icon mat-list-icon>delete</mat-icon>
    Delete
  </button>
  <button type="submit" form="form" [disabled]="!personForm.form.valid" mat-button>
    <mat-icon mat-list-icon>save</mat-icon>
    Save
  </button>
</ng-container>

<div class="person">
  <div class="column-1">

    <form #personForm="ngForm" id="form" (ngSubmit)="save()">
      <!--person-->
      <mat-accordion displayMode="flat" multi="true">
        <mat-expansion-panel expanded="true" class="two-colum-grid">
          <mat-expansion-panel-header>
            <mat-panel-title>Person</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput required name="firstName" [(ngModel)]="person.firstName" placeholder="First Name">
          </mat-form-field>
          <mat-form-field>
            <input matInput required name="lastName" [(ngModel)]="person.lastName" placeholder="Last Name">
          </mat-form-field>

          <mat-form-field *ngIf="person.isThai">
            <input matInput name="thaiFirstName" [(ngModel)]="person.thaiFirstName" placeholder="Thai First Name">
          </mat-form-field>
          <mat-form-field *ngIf="person.isThai">
            <input matInput name="thaiLastName" [(ngModel)]="person.thaiLastName" placeholder="Thai Last Name">
          </mat-form-field>

          <mat-form-field>
            <input matInput name="preferedName" [(ngModel)]="person.preferredName" placeholder="Preferred Name">
          </mat-form-field>
          <mat-form-field>
            <mat-select [(ngModel)]="person.spouseId"
                        (ngModelChange)="person.spouseChanged = true"
                        name="spouse"
                        placeholder="Spouse">
              <mat-option [value]="null">None</mat-option>
              <mat-option *ngFor="let eachPerson of people" [value]="eachPerson.id">{{eachPerson.preferredName}}
                {{eachPerson.lastName}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input name="birthdate" matInput [(ngModel)]="person.birthdate"
                   [matDatepicker]="birthDatePicker"
                   placeholder="Birthday">
            <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #birthDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-select [(ngModel)]="person.gender" name="gender"
                        placeholder="Gender">
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-slide-toggle [disabled]="isSelf"
                            name="english"
                            [(ngModel)]="person.speaksEnglish">
            Speaks English
          </mat-slide-toggle>
          <mat-slide-toggle [disabled]="isSelf"
                            name="thai"
                            [(ngModel)]="person.isThai">
            Is Thai
          </mat-slide-toggle>
          <mat-slide-toggle [disabled]="isSelf || person.isSchoolAid"
                            name="isStaff"
                            #isStaff="ngModel"
                            [ngModel]="person.staff"
                            (ngModelChange)="isStaffChanged($event, isStaff)"
                            matTooltip="A person can't be a school aid and Staff at the same time"
                            [matTooltipDisabled]="!person.isSchoolAid">
            Is Staff
          </mat-slide-toggle>

          <mat-slide-toggle [disabled]="isSelf || person.staff"
                            name="isSchoolAid"
                            [(ngModel)]="person.isSchoolAid"
                            matTooltip="A person can't be a School Aide and Staff at the same time"
                            [matTooltipDisabled]="!person.staff">
            Is School Aide
          </mat-slide-toggle>
          <mat-slide-toggle
            #isDonor="ngModel"
            class="span-2-columns"
            name="isDonor"
            [disabled]="isSelf"
            [ngModel]="person.donor"
            (ngModelChange)="isDonorChanged($event, isDonor)">
            Is Donor
          </mat-slide-toggle>


          <mat-form-field>
            <input matInput [(ngModel)]="person.email"
                   type="email"
                   name="email"
                   placeholder="Personal Email">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="person.phoneNumber"
                   type="tel"
                   name="phone"
                   placeholder="Phone Number">
          </mat-form-field>
        </mat-expansion-panel>

        <!--passport address-->
        <mat-expansion-panel class="two-colum-grid">
          <mat-expansion-panel-header>
            <mat-panel-title>Passport Address</mat-panel-title>
            <mat-panel-description>{{person.passportCountry}}</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field class="span-2-columns">
          <textarea matInput [(ngModel)]="person.passportAddress"
                    name="passportAddress"
                    placeholder="Address"></textarea>
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="person.passportCity"
                   name="passportCity"
                   placeholder="City">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="person.passportState"
                   name="passportState"
                   placeholder="State/Province">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="person.passportZip"
                   name="passportZip"
                   placeholder="Zip">
          </mat-form-field>
          <mat-form-field>
            <input matInput
                   #countriesControl="ngModel"
                   [(ngModel)]="person.passportCountry"
                   name="passportCountry"
                   [matAutocomplete]="countryAuto"
                   placeholder="Country">
          </mat-form-field>

          <mat-autocomplete #countryAuto="matAutocomplete" autoActiveFirstOption>
            <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
              {{ country }}
            </mat-option>
          </mat-autocomplete>
        </mat-expansion-panel>

        <!--thai address-->
        <mat-expansion-panel class="two-colum-grid">
          <mat-expansion-panel-header>
            <mat-panel-title>Thai Address</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="span-2-columns">
          <textarea matInput [(ngModel)]="person.thaiAddress"
                    name="thaiAddress"
                    placeholder="Address"></textarea>
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="person.thaiSoi"
                   name="thaiSoi"
                   placeholder="Soi">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="person.thaiMubaan"
                   name="thaiMubaan"
                   placeholder="Mubaan">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="person.thaiTambon"
                   name="thaiTambon"
                   placeholder="Tambon">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="person.thaiAmphur"
                   name="thaiAmphur"
                   placeholder="Amphur">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="person.thaiProvince"
                   name="thaiProvince"
                   placeholder="Province">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="person.thaiZip"
                   name="thaiZip"
                   placeholder="Zip">
          </mat-form-field>
        </mat-expansion-panel>

        <!--donor-->
        <mat-expansion-panel *ngIf="person.donor">
          <mat-expansion-panel-header>
            <mat-panel-title>Donor</mat-panel-title>
            <mat-panel-description>{{person.donor.status}}</mat-panel-description>
            <ng-template matExpansionPanelContent>
              <app-donor [donor]="person.donor"></app-donor>
            </ng-template>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </form>

    <!--emergency contacts-->
    <ng-container
      *ngIf="!isSelf || !person.spouseId || !person.staff?.missionOrgId || person.emergencyContacts.length != 0">
      <span class="mat-caption">
        Emergency Contacts
      </span>
      <mat-accordion class="emergency-contact">
        <mat-expansion-panel #newEmergencyContactPanel
                             *ngIf="!isSelf"
                             [disabled]="isNew"
                             [matTooltipDisabled]="!isNew"
                             matTooltip="To add an emergency contract first save the person">
          <mat-expansion-panel-header>
            <mat-panel-title>Add new Emergency Contact</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-emergency-contact
              #newEmergencyContactEl
              formId="newEcForm"
              [emergencyContact]="newEmergencyContact"
              (submit)="saveEmergencyContact(newEmergencyContact, true); newEmergencyContactPanel.close();">
            </app-emergency-contact>
            <mat-action-row>
              <button type="submit" form="newEcForm" [disabled]="newEmergencyContactEl.form.invalid"
                      mat-button>Add
              </button>
            </mat-action-row>
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="peopleMap[person.spouseId] as spouse" disabled expanded="false" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title class="foreground-text" style="align-items: center">
              {{spouse.preferredName}} {{spouse.lastName}}
            </mat-panel-title>
            <mat-panel-description class="secondary-text">{{spouse.email || 'Email unknown'}}
              <a mat-icon-button [routerLink]="'/people/edit/' + person.spouseId">
                <mat-icon class="foreground-text"
                          [matTooltip]="'View Spouse'"
                          matTooltipPosition="before">
                  person
                </mat-icon>
              </a>
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="person.staff && person.staff.missionOrgId" disabled expanded="false"
                             hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title class="foreground-text" style="align-items: center">
              {{person.staff.missionOrgName}}
            </mat-panel-title>
            <mat-panel-description class="secondary-text">{{person.staff.missionOrgEmail || 'Email unknown'}}
              <a mat-icon-button [routerLink]="'/mission-org/edit/' + person.staff.missionOrgId">
                <mat-icon class="foreground-text"
                          [matTooltip]="'View Sending Org'"
                          matTooltipPosition="before">
                  account_balance
                </mat-icon>
              </a>
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel #ecPanel *ngFor="let contact of person.emergencyContacts">
          <mat-expansion-panel-header>
            <mat-panel-title>{{contact.contactPreferedName}} {{contact.contactLastName}}</mat-panel-title>
            <mat-panel-description>{{peopleMap[contact.contactId]?.email || 'Email unknown'}}</mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-emergency-contact #contactForm [emergencyContact]="contact"
                                   [formId]="'contactForm_' + contact.id"
                                   (submit)="saveEmergencyContact(contact); ecPanel.close();">
            </app-emergency-contact>
            <mat-action-row>
              <a [routerLink]="'/people/edit/' + contact.contactId"
                 *ngIf="!isSelf"
                 [matTooltip]="'View ' + contact.contactPreferedName + ' ' + contact.contactLastName"
                 matTooltipPosition="after"
                 mat-icon-button>
                <mat-icon>person</mat-icon>
              </a>
              <span class="spacer"></span>
              <button mat-button (click)="deleteEmergencyContact(contact)" color="warn">Delete</button>
              <button type="submit"
                      [attr.form]="'contactForm_' + contact.id"
                      [disabled]="contactForm.form.invalid"
                      mat-button>Save
              </button>
            </mat-action-row>
          </ng-template>

        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>

    <!--leave summary-->
    <mat-card *ngIf="person.staffId">
      <mat-grid-list class="span-2-columns" cols="5" rowHeight="25px">
        <mat-grid-tile [colspan]="2">
          <a [routerLink]="['/leave-request','list', person.id]" mat-button color="accent">View Leave</a>
        </mat-grid-tile>
        <mat-grid-tile class="hint" matTooltip="Pending leave requests are included in the calculation for used leave">
          Used
        </mat-grid-tile>
        <mat-grid-tile>Left</mat-grid-tile>
        <mat-grid-tile>Total</mat-grid-tile>
        <ng-container *ngFor="let leaveUsed of person.leaveDetails?.leaveUsages">
          <ng-container *ngIf="leaveUsed.leaveType != (person.gender == 'Male' ? 'Maternity' : 'Paternity')">
            <mat-grid-tile [colspan]="2" class="left">{{ leaveTypeName(leaveUsed.leaveType) }}</mat-grid-tile>
            <mat-grid-tile>{{leaveUsed.used}}</mat-grid-tile>
            <mat-grid-tile>{{leaveUsed.left}}</mat-grid-tile>
            <mat-grid-tile>{{leaveUsed.totalAllowed}}</mat-grid-tile>
          </ng-container>
        </ng-container>
      </mat-grid-list>
    </mat-card>
  </div>
  <div class="column-2">

    <!--staff-->
    <mat-accordion *ngIf="person.staff" class="staff">
      <mat-expansion-panel #staffPanel class="two-colum-grid">
        <mat-expansion-panel-header>
          <mat-panel-title>Staff</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>

          <ng-container *ngIf="person.isThai">
            <ng-container *requireRole="'admin,hradmin'">
              <mat-form-field>
                <span matPrefix>฿</span>
                <input matInput
                       name="annualSalary"
                       type="number"
                       [(ngModel)]="person.staff.annualSalary"
                       min="0"
                       placeholder="Annual Salary">
              </mat-form-field>
              <span></span>
            </ng-container>
          </ng-container>
          <mat-form-field>
            <input matInput [(ngModel)]="person.staff.email"
                   type="email"
                   name="staffEmail"
                   [readonly]="isSelf"
                   placeholder="Staff Email">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="person.staff.phoneExt"
                   name="phoneExt"
                   [readonly]="isSelf"
                   placeholder="Phone Ext">
          </mat-form-field>
          <mat-form-field *ngIf="staffPanel.expanded">
            <mat-select name="orgGroup"
                        [disabled]="isSelf"
                        [(ngModel)]="person.staff.orgGroupId"
                        placeholder="Reports to Department/Division">
              <mat-option [value]="null">None</mat-option>
              <mat-option *ngFor="let eachGroup of groups | async"
                          [value]="eachGroup.id">
                {{eachGroup.groupName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select name="missionOrg"
                        [disabled]="isSelf"
                        [(ngModel)]="person.staff.missionOrgId"
                        placeholder="Sending Org">
              <mat-option [value]="null">None</mat-option>
              <mat-option *ngFor="let org of missionOrgs | async" [value]="org.id">{{org.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="person.staff.orgGroupId" class="span-2-columns org-chain">
            <span class="mat-caption">Department Hierarchy</span>
            <ng-container *ngFor="let link of orgChain(groups|async).links; last as isLast; trackBy: trackLinksBy">
              <a mat-button
                 [disabled]="!link.id || isSelf"
                 [routerLink]="['/' + link.type, 'edit', link.id]">
                {{link.title}}
              </a>
              <mat-icon *ngIf="!isLast">arrow_forward</mat-icon>
            </ng-container>
          </div>
          <mat-form-field>
            <input name="contractIssueDate" matInput
                   [readonly]="isSelf"
                   [(ngModel)]="person.staff.contractIssued"
                   [max]="person.staff.contractExpireDate"
                   [matDatepicker]="contractIssueDatePicker"
                   placeholder="Contract Issued">
            <mat-datepicker-toggle matSuffix [disabled]="isSelf"
                                   [for]="contractIssueDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #contractIssueDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <input name="contractExpireDate" matInput
                   [readonly]="isSelf"
                   [(ngModel)]="person.staff.contractExpireDate"
                   [min]="person.staff.contractIssued"
                   [matDatepicker]="contractExpireDatePicker"
                   placeholder="Contract Expires">
            <mat-datepicker-toggle matSuffix [disabled]="isSelf"
                                   [for]="contractExpireDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #contractExpireDatePicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput
                   name="renwebId"
                   [readonly]="isSelf"
                   [(ngModel)]="person.staff.renwebId"
                   placeholder="Renweb Id">
          </mat-form-field>

          <mat-form-field>
            <mat-select [(ngModel)]="staffInsurer"
                        (ngModelChange)="person.staff.insurer = staffInsurer.join(',')"
                        [disabled]="isSelf"

                        multiple
                        name="insurer"
                        placeholder="Insurer">
              <mat-option value="GIS">GIS</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>

          </mat-form-field>

          <mat-form-field>
            <mat-select [(ngModel)]="person.staff.visaType"
                        [disabled]="isSelf"
                        name="visaType"
                        placeholder="Visa Type">
              <mat-option [value]="null">None</mat-option>
              <mat-option value="Tourist">Tourist</mat-option>
              <mat-option value="NonImmigrant">Non-Immigrant</mat-option>
              <mat-option value="Marriage">Marriage</mat-option>
              <mat-option value="Retirement">Retirement</mat-option>
              <mat-option value="Business">Business</mat-option>
              <mat-option value="PermanentResident">Permanent Resident</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select [(ngModel)]="person.staff.workPermitType"
                        [disabled]="isSelf"
                        name="workPermitType"
                        placeholder="Legal status type">
              <mat-option [value]="null">None</mat-option>
              <mat-option value="Teacher">Teacher</mat-option>
              <mat-option value="EducationalPersonnel">Educational Personnel</mat-option>
              <mat-option value="Consultant">Consultant</mat-option>
              <mat-option value="NationalThai">National Thai</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" [readonly]="isSelf"
                   name="yearsOfServiceAdjustment"
                   required
                   placeholder="Years of Service Adjustment"
                   [(ngModel)]="person.staff.yearsOfServiceAdjustment">
            <mat-hint>Negative numbers remove years</mat-hint>
          </mat-form-field>
          <!--<mat-form-field>-->
          <!--<input matInput-->
          <!--name="endorsmentAgency"-->
          <!--[readonly]="isSelf"-->
          <!--[(ngModel)]="person.staff.endorsementAgency"-->
          <!--placeholder="Endorsment Agency">-->
          <!--</mat-form-field>-->
          <!--<mat-form-field>-->
          <!--<mat-select [(ngModel)]="staffEndorsments"-->
          <!--(ngModelChange)="person.staff.endorsements = staffEndorsments.join(',')"-->
          <!--[disabled]="isSelf"-->
          <!--multiple-->
          <!--name="endorsements"-->
          <!--placeholder="Endorsements">-->
          <!--<mat-option *ngFor="let endorsment of endorsmentsList" [value]="endorsment">-->
          <!--{{endorsment}}-->
          <!--</mat-option>-->
          <!--</mat-select>-->
          <!--</mat-form-field>-->

        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>

    <!--roles-->
    <ng-container *ngIf="!isSelf || person.roles.length != 0">
      <span class="mat-caption">Roles</span>
      <mat-accordion class="roles">
        <!--new role-->
        <ng-container *requireRole="'admin,hr'">
          <mat-expansion-panel #newRolePanel
                               *ngIf="!isSelf"
                               [disabled]="isNew"
                               [matTooltipDisabled]="!isNew"
                               matTooltip="To add a role first save the person">
            <mat-expansion-panel-header>
              <mat-panel-title>Add new Role</mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <app-role [role]="newRole"
                        #newRoleEl
                        formId="newRoleForm"
                        (submit)="saveRole(newRole, newRolePanel, true)">
              </app-role>
              <mat-action-row>
                <button type="submit"
                        form="newRoleForm"
                        [disabled]="newRoleEl.form.invalid"
                        mat-button>Add
                </button>
              </mat-action-row>
            </ng-template>
          </mat-expansion-panel>
        </ng-container>
        <!--roles list-->
        <mat-expansion-panel #rolePanel *ngFor="let role of person.roles">
          <mat-expansion-panel-header>
            <mat-panel-title>{{role.job.title}}</mat-panel-title>
            <mat-panel-description>
              {{role.startDate | date}} till {{role.active ? 'now' : (role.endDate | date)}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-role [role]="role"
                      [readonly]="isSelf"
                      #roleEl
                      [formId]="'form_' + role.id"
                      (submit)="saveRole(role, rolePanel)">
            </app-role>
            <mat-action-row *ngIf="!isSelf">
              <a [routerLink]="'/job/edit/' + role.jobId"
                 [matTooltip]="'View ' + role.job.title + ' Job'"
                 matTooltipPosition="after"
                 mat-icon-button>
                <mat-icon>work</mat-icon>
              </a>
              <span class="spacer"></span>
              <button mat-button (click)="deleteRole(role)" color="warn">Delete</button>
              <button type="submit"
                      [attr.form]="'form_' + role.id"
                      [disabled]="roleEl.form.invalid"
                      mat-button>Save
              </button>
            </mat-action-row>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
    <!--training-->
    <ng-container *ngIf="person.staff && !isSelf">
      <span class="mat-caption">Staff Training</span>
      <app-staff-training [staffId]="person.staffId"></app-staff-training>
    </ng-container>
    <!--evaluations-->
    <ng-container *ngIf="(!isSelf || person.evaluations.length != 0) && person.staffId">
      <span class="mat-caption">Evaluations</span>
      <mat-accordion class="evaluations">
        <!--new evaluation-->
        <ng-container *requireRole="'admin,hr'">
          <mat-expansion-panel #newEvalPanel
                               *ngIf="!isSelf"
                               [disabled]="isNew"
                               [matTooltipDisabled]="!isNew"
                               matTooltip="To add an Evaluation first save the person">
            <mat-expansion-panel-header>
              <mat-panel-title>Add new Evaluation</mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
              <app-evaluation
                #newEvalEl
                [roles]="person.roles"
                [evaluation]="newEvaluation"
                (submit)="saveEvaluation(newEvaluation, newEvalPanel, newEvalEl, true)"
                formId="newEvalForm">
              </app-evaluation>

              <mat-action-row>
                <button type="submit"
                        form="newEvalForm"
                        [disabled]="newEvalEl.form.invalid"
                        mat-button>Add
                </button>
              </mat-action-row>
            </ng-template>
          </mat-expansion-panel>
        </ng-container>

        <!--evaluations list-->
        <mat-expansion-panel #evalPanel *ngFor="let eval of person.evaluations">
          <mat-expansion-panel-header>
            <mat-panel-title>{{eval.jobTitle}}</mat-panel-title>
            <mat-panel-description>
              {{eval.date | date}} ({{eval.score/eval.total * 100 | number:'1.0-0'}}%)
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-evaluation
              [evaluation]="eval"
              [roles]="person.roles"
              [readonly]="isSelf"
              #evalEl
              [formId]="'form_' + eval.id"
              (submit)="saveEvaluation(eval, evalPanel, evalEl)">
            </app-evaluation>
            <mat-action-row *ngIf="!isSelf">
              <button mat-button (click)="deleteEvaluation(eval)" color="warn">Delete</button>
              <button type="submit"
                      [attr.form]="'form_' + eval.id"
                      [disabled]="evalEl.form.invalid"
                      mat-button>Save
              </button>
            </mat-action-row>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>

  </div>

  <app-profile-picture class="picture-column" [person]="person"></app-profile-picture>
</div>
