.person {
  $column-width: 458px;
  $spacing: 12px;
  display: grid;
  justify-content: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, $column-width);
  grid-template-areas: " c1 c2 ";
  grid-gap: $spacing;
  padding: $spacing;
  @media (max-width: $column-width * 2 + ($spacing * 3)) {
    grid-template-columns: 1fr;
    grid-template-areas: "c1" "c2";
    .column-1 {
      grid-area: c1;
    }
    .column-2 {
      grid-area: c2;
    }
  }
  & > * {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    & > .mat-accordion {
      margin-bottom: $spacing;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .column-1 {
    grid-area: c1;
  }
  .column-2 {
    grid-area: c2;
  }
}

.mat-expansion-panel-header-description {
  flex-grow: 1;
}
