<ng-container *appToolbarContent>
  <button type="submit" form="form" [disabled]="!personForm.form.valid" mat-button>
    <mat-icon mat-list-icon>save</mat-icon>
    Save
  </button>
</ng-container>

<div class="person">
  <mat-card>
    <form #personForm="ngForm" id="form" (ngSubmit)="save()">
      <div>
        <mat-form-field>
          <input matInput required name="firstName" [(ngModel)]="person.firstName" placeholder="First Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput required name="lastName" [(ngModel)]="person.lastName" placeholder="Last Name">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput name="preferedName" [(ngModel)]="person.preferredName" placeholder="Preferred Name">
        </mat-form-field>
        <mat-form-field>
          <mat-select [(ngModel)]="person.spouseId" (ngModelChange)="person.spouseChanged = true" name="spouse"
                      placeholder="Spouse">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let eachPerson of people" [value]="eachPerson.id">{{eachPerson.firstName + " " +
              eachPerson.lastName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-slide-toggle name="english" [(ngModel)]="person.speaksEnglish">Speaks English</mat-slide-toggle>
        <mat-slide-toggle name="thai" [(ngModel)]="person.isThai">Is Thai</mat-slide-toggle>
      </div>
      <div>
        <mat-slide-toggle name="isStaff" #isStaff="ngModel" [ngModel]="person.staff"
                          (ngModelChange)="isStaffChanged($event)">Is Staff
        </mat-slide-toggle>
      </div>

      <div>
        <mat-input-container>
          <input matInput [(ngModel)]="person.email"
                 type="email"
                 name="email"
                 placeholder="Email">
        </mat-input-container>
        <mat-input-container>
          <input matInput [(ngModel)]="person.phoneNumber"
                 type="tel"
                 name="phone"
                 placeholder="Phone Number">
        </mat-input-container>
      </div>

      <div>
        <mat-form-field>
          <input matInput name="country" [matAutocomplete]="countryAuto" [(ngModel)]="person.country"
                 placeholder="Country">
        </mat-form-field>
        <mat-autocomplete #countryAuto="matAutocomplete">
          <mat-option value="USA">USA</mat-option>
          <mat-option value="UK">UK</mat-option>
          <mat-option value="Thailand">Thailand</mat-option>
        </mat-autocomplete>
      </div>

    </form>
  </mat-card>

  <!--staff-->
  <mat-accordion *ngIf="person.staff" class="staff">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Staff</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-select name="orgGroup" [(ngModel)]="person.staff.orgGroupId"
                    placeholder="Department/Devision">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let eachGroup of groups" [value]="eachGroup.id">{{eachGroup.groupName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>

  <app-staff-training *ngIf="person.staff" [staffId]="person.staffId"></app-staff-training>


  <mat-accordion class="roles">
    <!--new role-->
    <mat-expansion-panel #newRolePanel>
      <mat-expansion-panel-header>
        <mat-panel-title>Add new Role</mat-panel-title>
      </mat-expansion-panel-header>
      <form #newRoleForm="ngForm" id="newForm" (submit)="saveRole(newRole, true); newRolePanel.expanded = false;">
        <app-role [role]="newRole"></app-role>

      </form>
      <mat-action-row>
        <button type="submit" form="newForm" [disabled]="newRoleForm.form.invalid" mat-button>Add</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!--roles list-->
    <mat-expansion-panel *ngFor="let role of person.roles">
      <mat-expansion-panel-header>
        <mat-panel-title>{{role.name}}</mat-panel-title>
        <mat-panel-description>
          {{role.startDate | date: 'shortDate'}} till {{role.active ? 'now' : (role.endDate | date: 'shortDate')}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form #roleForm="ngForm" [id]="'form_' + role.id" (submit)="saveRole(role)">
        <app-role [role]="role"></app-role>

      </form>
      <mat-action-row>
        <button mat-button (click)="deleteRole(role)">Delete</button>
        <button type="submit" [attr.form]="'form_' + role.id" [disabled]="roleForm.form.invalid" mat-button>Save
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
