<div>
  <mat-form-field>
    <input matInput required name="name" [(ngModel)]="role.name" placeholder="Name">
  </mat-form-field>

  <mat-form-field>
    <mat-select [(ngModel)]="role.fullHalfTime" name="fullHalfTime"
                placeholder="Type">
      <mat-option [value]="null">None</mat-option>
      <mat-option value="FullTime">Full Time</mat-option>
      <mat-option value="HalfTime">Half Time</mat-option>
      <mat-option value="Volunteer">Volunteer</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <mat-form-field>
    <input name="date" required matInput [(ngModel)]="role.startDate" [matDatepicker]="startDatePicker"
           placeholder="Start Date">
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-slide-toggle name="active" [(ngModel)]="role.active">Active</mat-slide-toggle>
</div>
<mat-form-field>
  <input name="date" [disabled]="role.active" [required]="!role.active" matInput [(ngModel)]="role.endDate"
         [matDatepicker]="endDatePicker"
         placeholder="End Date">
  <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
  <mat-datepicker #endDatePicker></mat-datepicker>
</mat-form-field>
<div>
  <mat-slide-toggle name="staff" matTooltip="determines the start date of staff for leave calculations"
                    [(ngModel)]="role.isStaffPosition">Staff position
  </mat-slide-toggle>
  <mat-slide-toggle name="director" [(ngModel)]="role.isDirectorPosition">Director position</mat-slide-toggle>
</div>
