<form #form="ngForm" [id]="formId" class="two-colum-grid">
  <mat-form-field *ngIf="!hideJob">
    <mat-select name="job"
                [disabled]="readonly"
                [(ngModel)]="role.jobId"
                (ngModelChange)="jobChanged($event)"
                required
                placeholder="Job">
      <mat-option *ngFor="let job of jobsObservable | async" [value]="job.id">{{job.title}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input name="startDate"
           required matInput
           [readonly]="readonly"
           [max]="role.endDate"
           [(ngModel)]="role.startDate"
           [matDatepicker]="startDatePicker"
           placeholder="Start Date">
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker [disabled]="readonly" #startDatePicker></mat-datepicker>
  </mat-form-field>
  <mat-slide-toggle #activeToggle [disabled]="readonly" name="active" [(ngModel)]="role.active">Active</mat-slide-toggle>
  <mat-form-field>
    <input name="endDate"
           [disabled]="role.active"
           required matInput
           [readonly]="readonly"
           [min]="role.startDate"
           [(ngModel)]="role.endDate"
           [matDatepicker]="endDatePicker"
           placeholder="End Date">
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker [disabled]="readonly" #endDatePicker></mat-datepicker>
  </mat-form-field>
</form>
