.org-chain {
  .mat-icon {
    vertical-align: middle;
  }

  [disabled] {
    pointer-events: none;
  }
  grid-column: span 2;
}

#form {
  display: grid;
  grid-column-gap: 16px;
  grid-template-columns: 300px 300px;
  grid-template-rows: repeat(4, auto);
  .mat-form-field {
    width: 100%;
  }
}
