<ng-container *appTemplateContent="'title'">{{title}} ({{dataSource.filteredData.length}})</ng-container>
<ng-container *appToolbarContent>
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <mat-form-field floatLabel="never">
    <input autofocus matInput
           [value]="urlBinding.values.search"
           (keyup)="urlBinding.values.search = $event.target.value"
           placeholder="Search">
  </mat-form-field>
  <app-export-button [values]="dataSource" fileName="peopleData"></app-export-button>
</ng-container>
<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="preferredName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Preferred Name</th>
    <td mat-cell *matCellDef="let row"> {{row.preferredName}}</td>
  </ng-container>
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
    <td mat-cell *matCellDef="let row"> {{row.lastName}}</td>
  </ng-container>

  <ng-container matColumnDef="staffId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Staff</th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox readonly [checked]="row.staffId"></mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="isSchoolAid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Is School Aide</th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox readonly [checked]="row.isSchoolAid"></mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="donorId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Donor</th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox readonly [checked]="row.donorId"></mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="isParent">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Parent</th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox readonly [checked]="row.isParent"></mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="isAlumni">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Alumni</th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox readonly [checked]="row.isAlumni"></mat-checkbox>
    </td>
  </ng-container>

  <!-- Header and Row Declarations -->
  <tr mat-header-row
      *matHeaderRowDef="columns; sticky: true"></tr>
  <tr mat-row class="hover-overlay"
      *matRowDef="let row; columns: columns"
      [routerLink]="'/people/edit/' + row.id"></tr>
</table>
<a routerLink="/people/edit/new" class="add-button" mat-fab matTooltip="Add new Person" matTooltipPosition="left">
  <mat-icon>add</mat-icon>
</a>
