<ng-container *appTemplateContent="'title'">My Info</ng-container>
<div class="main-card">
  <ng-template #noPersonFoundBlock>
    <mat-card>
      <p>No person was found attached to your account</p>
      <p>your email is listed as {{(userToken|async).email}} talk to HR about
        fixing this issue</p>
    </mat-card>
  </ng-template>
  <mat-card class="two-colum-grid" *ngIf="self.person; else noPersonFoundBlock">
    <mat-form-field>
      <input matInput [(ngModel)]="self.person.firstName"
             type="text"
             readonly
             placeholder="First Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="self.person.lastName"
             type="text"
             readonly
             placeholder="Last Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="self.person.preferredName"
             type="text"
             readonly
             placeholder="Preferred Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="self.person.spousePreferedName"
             type="text"
             readonly
             placeholder="Spouse">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             readonly
             placeholder="Birthday"
             [ngModel]="self.person.birthdate | date">
    </mat-form-field>
    <mat-form-field>
      <input matInput [ngModel]="self.person.nationality" readonly placeholder="Nationality">
    </mat-form-field>
    <div>
      <mat-icon matPrefix>email</mat-icon>
      <mat-form-field>
        <input matInput [(ngModel)]="self.person.email"
               type="email"
               readonly
               placeholder="Email">
      </mat-form-field>
    </div>
    <div>
      <mat-icon>phone</mat-icon>
      <mat-form-field>
        <input matInput [(ngModel)]="self.person.phoneNumber"
               type="tel"
               readonly
               placeholder="Phone Number">
      </mat-form-field>
    </div>
    <mat-form-field class="span-2-columns">
      <textarea matInput readonly rows="3" [ngModel]="formatPassportAddress()" placeholder="Passport Address"></textarea>
    </mat-form-field>
    <mat-form-field class="span-2-columns">
      <textarea matInput readonly rows="4" [ngModel]="formatThaiAddress()" placeholder="Thai Address"></textarea>
    </mat-form-field>
    <mat-grid-list class="span-2-columns" cols="4" rowHeight="25px">
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile class="hint" matTooltip="Pending leave requests are included in the calculation for used leave">
        Used
      </mat-grid-tile>
      <mat-grid-tile>Left</mat-grid-tile>
      <mat-grid-tile>Total</mat-grid-tile>
      <ng-container *ngFor="let leaveUsed of self.leaveDetails.leaveUseages">
        <ng-container *ngIf="leaveUsed.leaveType != (self.person.gender == 'Male' ? 'Maternity' : 'Paternity')">
          <mat-grid-tile>{{leaveUsed.leaveType}}</mat-grid-tile>
          <mat-grid-tile>{{leaveUsed.used}}</mat-grid-tile>
          <mat-grid-tile>{{leaveUsed.left}}</mat-grid-tile>
          <mat-grid-tile>{{leaveUsed.totalAllowed}}</mat-grid-tile>
        </ng-container>
      </ng-container>
    </mat-grid-list>
    <mat-list class="span-2-columns">
      <mat-list-item *ngFor="let ec of self.person.emergencyContacts">{{ec.contactPreferedName}}</mat-list-item>
    </mat-list>
  </mat-card>
</div>
