<ng-container *appTemplateContent="'title'">
  <ng-container *ngIf="isNew; else elseBlock">Request Leave</ng-container>
  <ng-template #elseBlock>Edit Leave Request</ng-template>
</ng-container>
<div class="main-card">
  <mat-card>
    <form #leaveForm="ngForm" (submit)="submit()" id="form" class="two-colum-grid">
      <mat-form-field>
        <mat-select name="person"
                    [(ngModel)]="leaveRequest.personId"
                    (ngModelChange)="personSelectedChanged($event)"
                    required
                    [disabled]="!(isHr | async)"
                    placeholder="Person Leaving">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let eachPerson of people" [value]="eachPerson.person.id">
            {{eachPerson.person.preferredName}} {{eachPerson.person.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select name="type" required placeholder="Type" [(ngModel)]="leaveRequest.type">
          <mat-option *ngIf="selectedPerson?.person.isThai" value="Vacation">Vacation</mat-option>
          <mat-option value="Sick">Sick</mat-option>
          <mat-option value="Personal">Personal</mat-option>
          <mat-option value="Emergency">Emergency</mat-option>

          <mat-option *ngIf="selectedPerson?.person.gender == 'Female'" value="Maternity">Maternity</mat-option>
          <mat-option *ngIf="selectedPerson?.person.gender == 'Male'" value="Paternity">Paternity</mat-option>

          <mat-option value="SchoolRelated">School Related</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input name="startDate" required matInput
               [(ngModel)]="leaveRequest.startDate"
               (ngModelChange)="updateDaysUsed()"
               [max]="leaveRequest.endDate"
               [disabled]="leaveRequest.overrideDays && !(isHr | async)"
               [matDatepicker]="startDatePicker"
               placeholder="Start Date">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input name="endDate" required matInput
               [(ngModel)]="leaveRequest.endDate"
               (ngModelChange)="updateDaysUsed()"
               [min]="leaveRequest.startDate"
               [disabled]="leaveRequest.overrideDays && !(isHr | async)"
               [matDatepicker]="endDatePicker"
               placeholder="End Date">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
      <div class="span-2-columns">
        <mat-form-field [style.width]="'80px'">
          <input matInput
                 name="days"
                 type="number"
                 [readonly]="!leaveRequest.overrideDays || !(isHr | async)"
                 [(ngModel)]="leaveRequest.days"
                 min="1"
                 matTooltip="Only HR can Modify Leave calculations"
                 [matTooltipDisabled]="(isHr | async) || !leaveRequest.overrideDays"
                 placeholder="Days used">
        </mat-form-field>
        <mat-slide-toggle name="overrideDays"
                          [disabled]="!(isHr | async) || leaveRequest.days == 0.5"
                          [(ngModel)]="leaveRequest.overrideDays"
                          (ngModelChange)="overrideDaysChanged($event)"
                          matTooltip="Only HR can Override leave calculations"
                          [matTooltipDisabled]="(isHr | async)">Override Leave Calculation
        </mat-slide-toggle>
        <mat-slide-toggle name="halfDay"
                          [disabled]="leaveRequest.days !== 0.5 && leaveRequest.days !== 1"
                          [ngModel]="leaveRequest.days == 0.5"
                          (ngModelChange)="leaveRequest.days = ($event ? 0.5 : 1); leaveRequest.overrideDays = false"
                          matTooltip="Start & End date must be the same for half days"
                          [matTooltipDisabled]="leaveRequest.days == 0.5 || leaveRequest.days == 1">Is Half Day
        </mat-slide-toggle>

      </div>
      <mat-form-field class="span-2-columns">
          <textarea matInput [(ngModel)]="leaveRequest.reason"
                    name="reason"
                    placeholder="Reason"></textarea>
      </mat-form-field>
      <mat-form-field *ngIf="(isHr | async)">
        <mat-select name="approved" [(ngModel)]="leaveRequest.approved" placeholder="Approval Status">
          <mat-option [value]="null">Unknown</mat-option>
          <mat-option [value]="true">Approved</mat-option>
          <mat-option [value]="false">Unapproved</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="span-2-columns">
        <div class="mat-caption">{{selectedPerson?.person.preferredName}} Leave used/total</div>
        <mat-chip-list>
          <ng-container *ngFor="let leave of selectedPerson?.leaveUseages">
            <!--the if is here to hide paternity when the person is female and maternity when person is male-->
            <mat-chip *ngIf="leave.leaveType != (selectedPerson.person.gender == 'Male' ? 'Maternity' : 'Paternity')"
                      color="accent" selected="true">
              {{leave.leaveType}} {{leave.used}}/{{leave.totalAllowed}}
            </mat-chip>
          </ng-container>
        </mat-chip-list>
      </div>
    </form>

    <mat-card-actions>
      <button type="submit" form="form" [disabled]="!leaveForm.form.valid" mat-button>
        {{isNew ? 'Request Leave' : 'Save'}}
      </button>
      <button mat-button *ngIf="!isNew" color="warn" (click)="deleteRequest()">Delete Request</button>
    </mat-card-actions>
  </mat-card>
</div>
