/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import "utils";

@include mat-core();

// Define a theme.
$primary: mat-palette($mat-indigo, 900, 500, 900);
$accent: mat-palette($mat-orange);

$theme: mat-light-theme($primary, $accent);
$warn: map-get($theme, warn);
$theme-contrast: mat-dark-theme($primary, $accent);
$background: map-get($theme, background);

// Include all theme styles for the components.
@include angular-material-theme($theme);

.active-link {
  color: mat-color($accent) !important;
}

.warn {
  color: mat-color($warn);
}

.hover-overlay {
  &:hover {
    background-color: mat-color($background, hover);
  }
  cursor: pointer;
}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

[hidden] {
  display: none !important;
}

.mat-list-item-content > .mat-list-text {
  padding-right: 0 !important;
}

.mat-nav-list .mat-subheader .mat-list-icon {
  margin-right: 4px;
}

@media not print {
  .mat-sidenav-container .mat-sidenav-content {
    position : absolute;
    height   : 100%;
    width    : 100%;
  }
}


.main-card {
  padding: 12px;
  grid-gap: 12px;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
}

.mat-link {
  color: mat-color($accent);
}

.accent-text {
  color: mat-color($accent, darker);
}

.add-button {
  position: fixed !important;
  bottom: 23px;
  right: 23px;
  z-index: 25;
  @media print {
    visibility: hidden;
  }
}

.mat-accordion .mat-expansion-panel-header-title,
.mat-accordion .mat-expansion-panel-header-description {
  flex-basis: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-expansion-panel-header .mat-content {
  width: 0;
}

.mat-accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-expansion-panel-body > .mat-action-row {
  margin: 0 -24px -16px;
}

.spacer {
  flex: 1 1 auto;
}

.hint, .hint .mat-figure {
  text-decoration: underline dashed;
}

.left .mat-figure {
  justify-content: left !important;
}

.two-colum-grid {
  &:not(.mat-expansion-panel), .mat-expansion-panel-body {
    display: grid;
    align-items: baseline;
    grid-column-gap: 8px;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 460px) {
      grid-template-columns: 1fr;
    }
  }

  .mat-slide-toggle {
    margin-bottom: 16px;
  }
}

.span-2-columns {
  grid-column: span 2;
  @media (max-width: 460px) {
    grid-column: span 1;
  }

  .mat-slide-toggle:not(:first-child) {
    padding-left: 8px;
  }

  .mat-icon {
    vertical-align: middle;

    & + .mat-form-field {
      margin-left: 8px;
    }
  }
}

.org-chain {
  .mat-icon {
    vertical-align: middle;
  }

  [disabled] {
    pointer-events: none;
  }
}

.form-field-button {
  display: flex;
  .mat-form-field {
    flex-grow: 1;
  }
  .mat-icon-button .mat-icon {
    vertical-align: text-top;
    padding-top: 2px;
  }
}

.mat-toolbar {
  @include mat-form-field-theme($theme-contrast);
  @include mat-input-theme($theme-contrast);
  @include mat-select-theme($theme-contrast);
  .mat-input-element {
    caret-color: currentColor;
  }

  .mat-icon-button + .mat-form-field {
    padding-left: 0;
  }

  .mat-form-field {
    font-size    : 16px;
    padding-top  : 25px;
    padding-left : 8px;

    &.mat-focused {
      .mat-form-field-ripple {
        background-color: currentColor;
      }
      .mat-form-field-label {
        color: mat-color(map-get($theme-contrast, foreground), secondary-text);
      }
    }
  }
  .mat-form-field-ripple {
    background-color: currentColor;
  }

  .mat-slide-toggle {
    padding-left: 8px;
  }
}

.mat-dialog-container {
  .mat-dialog-actions {
    &:last-child {
      margin-right: -24px;
    }
    justify-content: flex-end;
    padding: 8px 8px 8px 0;
  }
}

.foreground-text {
  color: mat-color(map-get($theme, foreground), text) !important;
}

.secondary-text {
  color: mat-color(map-get($theme, foreground), secondary-text) !important;
}

@media print {
  .mat-row {
    page-break-inside: avoid;
    page-break-after: auto;
  }
}

.print-hide {
  @include print-hide;
}

.mat-checkbox[readonly], .mat-slide-toggle[readonly] {
  pointer-events: none;
  cursor: default;
}
