<form #form="ngForm" [id]="formId" (submit)="submit.emit($event)">
  <mat-form-field>
    <mat-select [(ngModel)]="emergencyContact.contactId"
                (ngModelChange)="updateContactName($event)"
                name="contact"
                required
                placeholder="Contact">
      <mat-option *ngFor="let eachPerson of people" [value]="eachPerson.id">{{eachPerson.preferredName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button type="button" matTooltip="Quick add Person" appQuickAdd (updateSelected)="emergencyContact.contactId = $event"
          (updateList)="people.push($event)" mat-icon-button>
    <mat-icon>person_add</mat-icon>
  </button>
  <mat-form-field>

    <input matInput name="order" type="number" min="1" [(ngModel)]="emergencyContact.order" placeholder="Order">
  </mat-form-field>

</form>
