<form #form="ngForm" [id]="formId" class="two-colum-grid">
  <mat-slide-toggle [disabled]="customContactOnly" [(ngModel)]="isCustomContact" name="customContact">Custom Contact
  </mat-slide-toggle>
  <div class="form-field-button" *ngIf="!isCustomContact; else elseTemplate">
    <mat-form-field>
      <mat-select [(ngModel)]="emergencyContact.contactId"
                  (ngModelChange)="updateContactName($event)"
                  required="true"
                  [disabled]="customContactOnly"
                  name="contact"
                  placeholder="Contact">
        <mat-option *ngFor="let eachPerson of people" [value]="eachPerson.id">{{eachPerson.preferredName}}
          {{eachPerson.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <app-quick-add-button
      title="Contact"
      *ngIf="'peopleEdit' | isUserPolicy"
      [(personId)]="emergencyContact.contactId"
      (personIdChange)="updateContactName($event)"
      (updateList)="personAdded($event)">
    </app-quick-add-button>
  </div>
  <ng-template #elseTemplate>
    <mat-form-field>
      <input matInput name="name" required [(ngModel)]="emergencyContact.name" placeholder="Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="emergencyContact.email"
             type="email"
             name="email"
             placeholder="Email">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="emergencyContact.phone"
             type="tel"
             name="phone"
             placeholder="Phone Number">
    </mat-form-field>

  </ng-template>

  <mat-form-field>
    <input matInput name="order" type="number" min="1" [(ngModel)]="emergencyContact.order" placeholder="Order">
  </mat-form-field>

  <mat-form-field>
    <mat-select [(ngModel)]="emergencyContact.relationship"
                name="relationship"
                placeholder="Relationship">
      <mat-option [value]="null">None</mat-option>
      <mat-option value="Spouse">Spouse</mat-option>
      <mat-option value="Father">Father</mat-option>
      <mat-option value="Mother">Mother</mat-option>
      <mat-option value="Brother">Brother</mat-option>
      <mat-option value="BrotherInLaw">Brother in law</mat-option>
      <mat-option value="Sister">Sister</mat-option>
      <mat-option value="SisterInLaw">Sister in law</mat-option>
      <mat-option value="Son">Son</mat-option>
      <mat-option value="Daughter">Daughter</mat-option>
      <mat-option value="Friend">Friend</mat-option>
      <mat-option value="Pastor">Pastor</mat-option>
      <mat-option value="SendingOrg">Sending Organization/Church</mat-option>
      <mat-option value="Other">Other</mat-option>
    </mat-select>
  </mat-form-field>
</form>
