<mat-accordion>
  <mat-expansion-panel [disabled]="isNew" [matTooltipDisabled]="!isNew"
                       matTooltip="To add a Training record first save the person"
                       #newExpansionPanel>
    <mat-expansion-panel-header>
      <mat-panel-title>Add new Training record</mat-panel-title>
    </mat-expansion-panel-header>
    <form id="newForm" #newForm="ngForm"
          (submit)="saveNew(); newExpansionPanel.close();"
          class="two-colum-grid">
      <mat-form-field>
        <mat-select name="requirement" required [(ngModel)]="requirement" placeholder="Completed Requirement">
          <mat-option *ngFor="let eachRequirement of requirementsList"
                      [value]="eachRequirement">
            {{eachRequirement.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input name="completedDate" matInput [(ngModel)]="newTraining.completedDate"
               required
               [matDatepicker]="completedDatePicker"
               placeholder="Date Completed">
        <mat-datepicker-toggle matSuffix [for]="completedDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #completedDatePicker></mat-datepicker>
      </mat-form-field>
    </form>
    <mat-action-row>
      <button type="submit" form="newForm" [disabled]="newForm.form.invalid" mat-button>Mark Complete</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!--completed training list-->
  <mat-expansion-panel #trainingPanel *ngFor="let staffTraining of training">
    <mat-expansion-panel-header>
      <mat-panel-title>{{staffTraining.requirementName}} Completed on
        {{staffTraining.completedDate | date}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [id]="'trainingForm_' + staffTraining.id"
          #trainingForm="ngForm"
          (submit)="saveTraining(staffTraining); trainingPanel.close()"
          class="two-colum-grid">

      <mat-form-field>
        <input name="completedDate" matInput [(ngModel)]="staffTraining.completedDate"
               required
               [matDatepicker]="completedDatePicker"
               placeholder="Date Completed">
        <mat-datepicker-toggle matSuffix [for]="completedDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #completedDatePicker></mat-datepicker>
      </mat-form-field>
    </form>
    <mat-action-row>
      <button type="button" (click)="deleteTraining(staffTraining)" mat-button color="warn">Delete</button>
      <button type="submit"
              [attr.form]="'trainingForm_' + staffTraining.id"
              [disabled]="trainingForm.form.invalid"
              mat-button>
        Update
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
